/autom4te.cache
/build-aux
/aclocal.m4
/config.h
/config.h.in
/config.status
/configure
/libtool
/Makefile
/Makefile.in
/stamp-h1

*.dylib

*.a

config.log

*.Tpo

tests/check_escapecabron.log

*.o

src/.libs/main

*.Po

envfuera.txt

*.Plo

src/.deps

src/.libs

tests/.libs/check_escapecabron

