/autom4te.cache
/build-aux
/aclocal.m4
/config.h
/config.h.in
/config.status
/configure
/libtool
/Makefile
/Makefile.in
/stamp-h1

*.dylib

*.a

*.dylib

*.a

config.log

*.a

config.log

src/.libs/libescapecabron.0.dylib

src/.libs/libescapecabron.a

*.dylib

*.a

config.log

src/.libs/libescapecabron.0.dylib

*.dylib

*.a

src/.libs/libescapecabron.a
