/autom4te.cache
/build-aux
/aclocal.m4
/config.h
/config.h.in
/config.status
/configure
/libtool
/Makefile
/Makefile.in
/stamp-h1

*.dylib

*.a

config.log

*.Tpo

tests/check_escapecabron.log

*.o

src/.libs/main

*.Po

envfuera.txt

*.Plo

src/.deps

src/.libs

tests/.libs/check_escapecabron


src/.libs/main

tests/.libs/check_escapecabron

tests/check_escapecabron-check_escapecabron.o

tests/check_escapecabron.log

*.Plo

src/.deps/escapecabron.Plo

*.o

tests/test-suite.log

src/symbol-mapping.txt

src/tmp-filelist.txt

*.dylib

src/.libs/libescapecabron.dylib

src/.libs/libescapecabron.la

src/logfile

*.Po

*.o

*.Po
src/.deps/main.Po
src/.libs/libescapecabron.lai
*.stackdump
src/main.exe.stackdump